
/*
HEADEr and navbar
*/

#navbarheader ul li a:hover{
    background-color: #dddddd;
    color: #000;
}
#nameContainer{
    margin-top: 20px;
}

#line_on_page{
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
    height: 2px;
    background:black;
}

.container h1{
    text-align: center;
    color: darkblue;
    font-size: 40px;
}
.container h3{
    text-align: center;
    color: darkblue;
    font-size: 20px;
}
.container p{
    text-align: justify;

}
section{
    padding-bottom: 50px;
}

.container .card{
    margin-bottom: 60px;
}

footer {
    background: #2b2b2b;
    text-align: center;
    color: #ddd;
    height: inherit;
    position: relative;
    bottom: 0px;
    width: 100%;
}
@media (max-width: 992px) {
    footer{
       position: relative;
    }
}

